<!DOCTYPE html>
 <html ng-app="angularPdfmake">
<head>
  <title>web worker</title>
  <script src="bower_components/file-saver/FileSaver.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <!-- fallback for github page -->
  <script>
    window.angular || document.write('<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">\3C/script>');
    window.saveAs || document.write('<script src="https://raw.githubusercontent.com/eligrey/FileSaver.js/975159128137bc3ccfbe66706f439a18761aa0ee/FileSaver.js">\3C/script>');
  </script>
  <script src="index.js"></script>
</head>
<body ng-controller="pdfCtrl">
  <button type="button" ng-click="add()">add data to pdf</button>
  <button type="button" ng-click="set()">set data to pdf</button>
</body>
</html>

